<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>houseSystem</display-name>
   <welcome-file-list>
    <welcome-file>/html/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>houseSysCon</servlet-name>
    <servlet-class>cn.house.controller.houseSysCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>houseSysCon</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userCrotronlServlet</servlet-name>
    <servlet-class>cn.house.controller.userCrotronlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userCrotronlServlet</servlet-name>
    <url-pattern>/test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminCrotronlServlet</servlet-name>
    <servlet-class>cn.house.controller.adminCrotronlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminCrotronlServlet</servlet-name>
    <url-pattern>/test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>renshigaunliServlet</servlet-name>
    <servlet-class>cn.house.controller.renshigaunliServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>renshigaunliServlet</servlet-name>
    <url-pattern>/test3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RsglServlet</servlet-name>
    <servlet-class>cn.house.controller.RsglServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RsglServlet</servlet-name>
    <url-pattern>/test4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>yonghubaoxiuServlet</servlet-name>
    <servlet-class>cn.house.controller.yonghubaoxiuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yonghubaoxiuServlet</servlet-name>
    <url-pattern>/test5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gonggaoServlet</servlet-name>
    <servlet-class>cn.house.controller.gonggaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gonggaoServlet</servlet-name>
    <url-pattern>/test6</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>baoxiuchauxunServlet</servlet-name>
    <servlet-class>cn.house.controller.baoxiuchauxunServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>baoxiuchauxunServlet</servlet-name>
    <url-pattern>/test7</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>yezhuchaxungonggaoServlet</servlet-name>
    <servlet-class>cn.house.controller.yezhuchaxungonggaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yezhuchaxungonggaoServlet</servlet-name>
    <url-pattern>/test8</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>baoxiuguanliServlet</servlet-name>
    <servlet-class>cn.house.controller.baoxiuguanliServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>baoxiuguanliServlet</servlet-name>
    <url-pattern>/test9</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xunchaguanliServlet</servlet-name>
    <servlet-class>cn.house.controller.xunchaguanliServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xunchaguanliServlet</servlet-name>
    <url-pattern>/test10</url-pattern>
  </servlet-mapping>
</web-app>